[run]
source = app,qa_tools
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */virtualenv/*
    setup.py
    build.py
    tools/build.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = artifacts/coverage/htmlcov
